streamlit==1.38.0
streamlit-highcharts==0.2.0
streamlit-option-menu==0.3.13
streamlit-extras==0.4.7
nltk==3.9.1
pandas==2.2.2
plotly==5.24.0
textblob==0.18.0
numpy==2.1.0
google-auth==2.34.0
google-cloud-translate==3.16.0
python-dotenv==1.0.1
kaleido==0.2.1
google-generativeai==0.1.0
